RewriteEngine On
RewriteBase /
# Ignorar archivos físicos y directorios
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# El resto a index.php
RewriteRule ^ index.php [QSA,L]