RewriteEngine On

# Si el archivo existe físicamente, servirlo directamente
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]

# Si el directorio existe, servirlo (opcional, pero útil para carpetas de assets)
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Todo lo demás se envía a Slim
RewriteRule ^ index.php [QSA,L]